* {
  margin: 0;
}

body {
  background-color: gray;
}

#header {
  text-align: center;
  color: white;
  background-color: black;
  width: 40%;
  margin: 10px auto;
  border: 5px solid black;
  border-radius: 10px;
}

#title {
  color: white;
  padding: 20px;
  background-color: black;
  width: 40%;
  margin: auto;
  border: 5px solid black;
  border-radius: 10px;
}

#inputs {
  padding: 0 0 10px;
}

#text-input {
  margin: 10px;
}

#meme-image-container {
  width: 450px;
  height: 300px;
  border: 1px solid black;
  background-color: white;
  margin: 20px auto;
}

#buttons {
  text-align: center;
  margin: 5px auto;
  color: white;
  background-color: black;
  width: 30%;
  border: 5px solid black;
  border-radius: 10px;
}

#miniature {
  text-align: center;
}

#meme-preview {
  width: 100%;
  height: 100%;
  position: relative;
}

#meme-image {
  width: 450px;
  height: 300px;
  object-fit: cover;
  position: absolute;
}

#meme-text {
  color: white;
  position: absolute;
  font-size: 30px;
  text-shadow: 5px 5px 5px black;
  font-weight: 600;
  word-wrap: break-word;
  max-width: 450px;
  text-align: center;
}

#fire {
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: 900;
}

#water {
  background-color: blue;
  color: white;
  font-size: 15px;
  font-weight: 900;
}

#earth {
  background-color: green;
  color: white;
  font-size: 15px;
  font-weight: 900;
}

#meme-1 , #meme-2 , #meme-3 , #meme-4 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 20px;
}

#meme-1 {
  border: 3px dashed red;
}

#meme-2 {
  border: 5px double blue;
}

#meme-3 {
  border: 6px groove green;
}

#meme-4 {
  border: 3px dashed red;
}

@media screen and ( max-width : 910px ) {
  #header {
    width: 60%;
  }

  #title {
    color: white;
    padding: 20px;
    width: fit-content
  }
}

@media screen and ( max-width : 480px ) {
  #header {
    width: 80%;
  }

  #meme-image-container {
    width: 250px;
    height: 250px;
  }

  #meme-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    position: absolute;
  }

  #meme-1 , #meme-2 , #meme-3 , #meme-4 {
    width: 100px;
    height: 100px;
    margin: 10px;
  }

  #meme-insert {
    width: 100%;
  }

  #buttons {
    width: 60%;
  }

  #buttons button {
    margin: 5px;
  }
}