* {
  margin: 0;
}

body {
  
}

#meme-image-container {
  width: 450px;
  height: 300px;
  border: 1px solid black;
  background-color: white;
}

#meme-image {
  width: 100%;
  height: 100%;
  position: relative;
}

#image-preview {
  width: 100%;
  position: absolute;
}

#meme-text {
  color: white;
  position: absolute;
  font-size: 30px;
  text-shadow: 5px 5px 5px black;
}